// Answer 6 Questions to customize a default theme for all your forms.
// Or spend more time on editing the nitty-gritty details.

// Pick your background color.

// Pick your text color.

// Pick a highlight color.

// Pick your font.

// Pick your text size.  (slider)

// Do you want rounded corners? (slider)

// [save] - [save and keep customizing]


// Sunny
// ---
$font-size: 16px;
$border-radius: 8px;
$border-width: 2px;
$button: white;
$button-reverse: #D85427;
$gallery-border-spacing: 20px;

// Midnight
// ---
// $reverse: #172d35;
// $color: white;
// $button: white;
// $button-reverse: #D85427;
// $input-bg: rgba($color, .05);
// $button-border-radius: 5px;
// $border-width: 3px;
// $icon-weight: 2.5;
// $border-radius: 8px;
// $higlight-reverse: white;
// $circles: false;

// Writer
// ---
// $typeface: 'Georgia';
// $input-border-color: #92b8b8;
// $input-border-style: dashed;
// $underline: true;
// $highlight: orange;
// $negative: darkred;
// $icon-weight: 3;
// $page-transition: 'flip';
// $page-transition-duration: 4s;

// Small 'n' Tight
// ---
// $font-size: 12px;
// $unitless-gutter: 20;
// $input-padding-v: 4px;
// $input-padding-h: 5px;