@mixin required {
	display: inline-block;
	margin-left: .1em;
	content: '*';
	color: $negative;
}

@mixin hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}