@mixin required {
	display: inline-block;
	margin-left: .1em;
	content: '*';
	color: $negative;
}

@mixin hidden {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

@mixin input-spacing {
	padding: $input-padding-v $input-padding-h;
	font-size: $input-font-size;
	line-height: 1.3;

	outline-width: $input-border-width;
	width: 100%;

	// These are obviously not spacing
	font-family: $typeface;
	color: $input-color;
}

@mixin input-border {
	border-radius: $input-radius;
	border-style: $input-border-style;

	@if $underline == true {
		border-width: 0;
		border-bottom-width: $input-border-width;
	}@else{
		border-width: $input-border-width;
	}
}

@mixin input-appearance {
	width: 100%;
	background: $input-bg;
	border-color: $input-border-color;
	@include input-border;
}

@mixin disabled-input {
	@if color-is-light($input-bg){
		background: darken($input-bg, 10);
		color: lighten($input-color, 10);
	}@else{
		background: lighten($input-bg, 10);
		color: darken($input-color, 10);
	}
	cursor: not-allowed;
}

@mixin break-word {
	overflow-wrap: break-word;
  word-wrap: break-word;
	break-inside: avoid;
}

@mixin helptext {
	font-size: $small-text;
  padding: $gutter/4 0;
}

@mixin bg-color($text-color: $form-text){
	@if color-is-light($text-color){
		background-color: rgba(darken($text-color, 5), .1);
	}@else {
		background-color: rgba(lighten($text-color, 5), .05);
	}
}

@mixin bg-color-alt($text-color: $form-text){
	@if color-is-light($text-color){
		background-color: rgba(darken($text-color, 10), .15);
	}@else {
		background-color: rgba(lighten($text-color, 5), .1);
	}
}

@mixin label{
	font-family: $label-typeface;
	margin-bottom: $gutter/4;
}

%icon-bg{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

@mixin chevron($color: $form-text, $direction: 0deg) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{$input-font-size}' viewBox='0 0 12 12'%3E%3Cpolyline points='1 4 6 9 11 4' style='fill:transparent;stroke:#{$color};stroke-width:#{$icon-weight};transform-origin: center; transform: rotate(#{$direction});'/%3E%3C/svg%3E");
	@extend %icon-bg;
}

@mixin check($color: $highlight, $bg: transparent) {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='#{$input-font-size}' viewBox='0 0 12 12'%3E%%3Ccircle cx='6' cy='6' r='5' fill='#{$bg}' /%3E%3Cpolyline points='3 6 5 8 9 4' stroke='#{$color}' stroke-width='#{$icon-weight*1.2}' fill='none'/%3E%3C/svg%3E");
	@extend %icon-bg;
}