// Answer 6 Questions to customize a default theme for all your forms.
// Or spend more time on editing the nitty-gritty details.

// Pick your background color.

// Pick your text color.

// Pick a highlight color.

// Pick your font.

// Pick your text size.  (slider)

// Do you want rounded corners? (slider)

// [save] - [save and refine further]



// Structure
$form-width: 900px;
$unitless-gutter: 30;
$gutter: $unitless-gutter * 1px;
$form-margins: $unitless-gutter * 1.5px;
$small-text: .8em;

$border-radius: 0;
$circles: true;

// Typeography
$typeface: Arial;
$header-typeface: Arial;
$label-typeface: Arial;
$link-typeface: Arial;
$button-typeface: Arial;
$font-size: 16px;

// General Colors
$negative: rgb(235, 86, 81);//#A3340D;
$negative-reverse: white;
$positive: green;
$positive-reverse: #698215;
$highlight: #AED136;
// $highlight-reverse: black;
$primary: #D85427;
$primary-reverse: white;


// Element's Primary Color
$--color-primary: $highlight;



$midnight: #172d35;
$warm: #352317;
$light: #eae6e1;

// Specific Colors
$form-bg: white;
$form-text: $midnight;

// $form-bg: $midnight;
// $form-text: white;


// Button Styles
$btn-primary-bg: $primary;
$btn-primary-text: $primary-reverse;

$btn-secondary-bg: mix($primary, white, 20%);
$btn-secondary-text: $primary;

$btn-tertiary-bg: $primary;
$btn-tertiary-text: $primary-reverse;

$button-font-size: 16px;
$button-padding: $gutter/3;
$button-border-color: #D85427;
$button-border-radius: $border-radius * .75 !default;
$button-border-radius: 4px;

// Field Style
$input-font-size: 16px;
$input-padding-v: $gutter/3;
$input-padding-h: $gutter/3;
$input-radius: $border-radius*.75;
$input-bg: $form-bg;
$input-color: $form-text;
$input-border-color: #55727b;
$input-border-width: 1px;
$input-border-style: solid;
$underline: false;

// @if ($input-radius < 10px){
	$checkbox-radius: $input-radius / 2;
// }@else{
	// $checkbox-radius: 6px;
// }


$upload-border-style: dashed;

$table-border-spacing: 0;

// SVG
$icon-weight: 1.5;

// Animation
$page-transition-duration: 1s;