// Structure
$form-width: 1100px;
$gutter: 30px;
$form-margins: $gutter * 1.5;
$small-text: .8em;

$border-radius: 10px;

// Typeography
$typeface: Verdana;
$header-typeface: Georgia;
$label-typeface: Georgia;
$link-typeface: Georgia;
$button-typeface: Arial;

// General Colors
$negative: red;
$negative-reverse: white;
$positive: green;
$positive-reverse: white;
$highlight: orange;
$highlight-reverse: white;
$primary: orange;
$primary-reverse: white;


// Element's Primary Color
$--color-primary: $primary;

// Specific Colors
$form-bg: tan;
$neutral: darken($form-bg, 15);
$neutral-reverse: darken($form-bg, 80);
$btn-primary-bg: $primary;
$btn-primary-text: $primary-reverse;
$neutral-bg: rgba($neutral, .2);
$neutral-bg-alt: rgba($neutral, .5);

// Button Styles
$button-font-size: 16px;
$button-padding: $gutter/3;

// Field Style
$input-font-size: 16px;
$input-padding-v: $gutter/3;
$input-padding-h: $gutter/4;
$input-radius: $border-radius*.75;
$input-bg: white;
$input-color: gray;
$input-border-color: brown;
$input-border-width: 3px;
$input-border-style: solid;
$underline: false;

$upload-border-style: dashed;

$table-border-spacing: 0;

// Animation
$page-transition-duration: 1s;