.el-radio,
.el-checkbox {
	margin-bottom: $gutter/4;
}

.c-inline {
	.el-radio,
	.el-checkbox {
		display: inline-block;
	}

	.el-radio:not(:last-child),
	.el-checkbox:not(:last-child) {
		margin-right: 1em;
	}

}

.c-inner-col-2 {
	columns: 130px 2;
}

.c-inner-col-3 {
	columns: 130px 3;
}

.c-inner-col-4 {
	columns: 130px 4;
}

[class*="c-inner-col-"] {

	label {
		display: block;
		// padding-left: 1.3em;
		@include break-word;
	}

	.el-radio,
	.el-checkbox {
		position: relative;

		input {
			position: absolute;
			left: 0;
		}
	}
}

// Fanciness
	[type="checkbox"],
	[type="radio"]{
		display: none;
	}

	.el-checkbox__input,
	.el-radio__input {
		position: relative;
		margin-right: .5em;
	}

	.el-checkbox__inner,
	.el-radio__inner {
		display: inline-block;
		width: $input-font-size + 2;
		height: $input-font-size + 2;
		background-color: $form-bg;
		border: $input-border-width/2 solid $input-border-color;
		vertical-align: text-top;
		transition: all .2s;
	}

	.is-checked .el-checkbox__inner{
		background-color: $highlight;
		border-color: $highlight;
	}

	.el-checkbox__inner {
		border-radius: $checkbox-radius;
		background-size: 0%;
	}

	.is-checked .el-checkbox__inner {
		@include check($form-bg);
		background-size: 125%;
	}

	.el-radio__inner {
		border-radius: 50%;
		position: relative;

	}

	.is-checked .el-radio__inner {
		border: .4em solid $highlight;
	}