// .c-fancy:not(.c-readonly){
	.el-checkbox [type="checkbox"],
	.el-radio [type="radio"]{
		@include hidden;
	}

	.el-radio__label,
	.el-checkbox__label {
		padding: 2px 0;
		margin-left: .4em;
	}

	.is-focus + .el-checkbox__label,
	:focus .el-radio__label {
		border-bottom: $input-border-width solid $highlight;
	}

	.el-checkbox__input,
	.el-radio__input {
		position: relative;
		border-radius: 50%;
	}

	.el-checkbox__inner,
	.el-radio__inner {
		display: inline-block;
		width: $input-font-size + 2;
		height: $input-font-size + 2;
		background-color: $reverse;
		border: $input-border-width solid $input-border-color;
		vertical-align: text-top;
		transition: all .2s;
	}

	.el-radio:focus .el-radio__inner,
	.is-focus .el-checkbox__inner {
		transform: scale(1.15);
		box-shadow: 0 0 0 1px $highlight;
	}

	.el-checkbox__inner {
		border-radius: $checkbox-radius;
		background-size: 0%;
		transition: all .2s;
	}

	.is-checked .el-checkbox__inner {
		@include check($highlight-reverse);
		background-size: 140%;
		background-color: $highlight;
		border: 0;
	}

	.el-radio__inner {
		border-radius: 50%;
		position: relative;
	}

	.is-checked .el-radio__inner {
		border: .4em solid $highlight;
	}
// }