.cg{

	svg {
		width: 1.5em;
		vertical-align: middle;
	}

	path {
		stroke-width: $icon-weight;
	}

	circle {
		fill: transparent;
	}
}

// General remove button
// May be overridden by components
.i-ex path {
	stroke: $negative-reverse;
}

.i-ex circle {
	fill: $negative;
}

button:focus .i-ex circle {
	stroke: rgba($form-text, .3);
	stroke-width: .05em
}