@import '../theme';
@import '../field-style';

.cg {
	table {
		border-collapse: collapse;
	}

	thead {
		vertical-align: bottom;
	}

	tbody:nth-child(even) {
		background: $neutral-bg;
	}

	td,
	th {
		padding: $gutter/4;
	}
}